/node_modules
/public/hot
/public/pdf
/public/storage
/public/client_documents/

/vendor
.env
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

