/*
For admin custom css
*/

  .btn1{outline: none;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;

  }
  delete{

  }
  table.dataTable {
    border: 1px solid #e3e8f7 !important;
  }
  table.dataTable thead th, table.dataTable thead td {
    border-top-width: 0;
    border-bottom-width: 0;
    padding: 16px 5px;
    font-weight: 500;
    font-size: 11px;
    color: #242f48;
  }
  .custom-select{
   background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%233b4863' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px !important;
 }
 .dataTables_wrapper .dataTables_filter input{
   height: 42px;
 }
 .dataTables_wrapper .dataTables_paginate .page-item.disabled .page-link {
  background-color: #e8ecf5;
  width: 74px;
  color: #3e3e3e;
  font-size: 12px;
}

.f-s{
 font-size: 12px !important;
 width: 122px  !important;
 padding:4px  !important;
}
.table th, .table td {
  padding: 0.50rem;
  vertical-align: middle;
  border-top: 1px solid #dde2ef;
  font-weight: 300;
  font-size: 13px;
}
.scrollable {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.scrollable.is-scrollable:after {
  position: absolute;
  top: 0;
  left: 100%;
  width: 50px;
  height: 100%;
  border-radius: 10px 0 0 10px/50% 0 0 50%;
  box-shadow: -5px 0 10px rgba(0, 0, 0, 0.25);
  content: "";
}
.scrollable > div {
  overflow-x: auto;
  width:100%;
}
.scrollable > div table{
	width:1250px;
}
.scrollable > div::-webkit-scrollbar {
  height: 12px !important;
}
.scrollable > div::-webkit-scrollbar-track {
  background: #ddd !important;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15) inset  !important;
}
.scrollable > div::-webkit-scrollbar-thumb {
  background: #ccc  !important;
  border-radius: 6px  !important;
}
.row-sm-new > div {
       padding-left: 17px;
    padding-right: 0px;
}
.reset-btn {
    background: #cbcfda;
    color: #fff;
}
.padding-body{
	    padding: 1.50rem;
}